.emailList {
  width: 100%;
}

.emailList__settings {
  border-bottom: 1px solid whitesmoke;
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.emailList__mailsBox {
  flex: 1;
  overflow-y: scroll;
  height: calc(100% - 58px);
}

.emailList__sections {
  display: flex;
}

.emailList__sections > button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.emailList__sections > button:focus {
  outline: none;
}

.section {
  color: #555;
  display: flex;
  align-items: center;
  font-size: small;
  min-width: 200px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  padding: 8px;
}

.section:hover {
  background-color: whitesmoke;
  color: black;
}

.section > p {
  margin-left: 16px;
}

.emailList__mails {
  display: flex;
  flex-direction: column-reverse;
}

.emailRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
}

.emailRow:hover {
  box-shadow: 1px 1px 4px #999;
  /* background-color: whitesmoke; */
}

.clickButton {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.clickButton:focus {
  outline: none;
}

.emailRow > div {
  display: flex;
  align-items: center;
}

.emailRow__sender {
  display: flex;
  width: 180px;
  padding-left: 8px;
  font-size: 14px;
}

.emailRow__message > h3 {
  width: 45vw;
  margin-right: 8px;
  padding-right: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  line-height: 16px;
  font-size: 14px;
}

.emailRow__message > h3 > span {
  margin-left: 8px;
  font-weight: 400;
}

.emailRow__date {
  width: 60px;
  margin-left: auto;
  margin-right: 16px;
}
