.mail {
  width: 100%;
}

.mail__settings {
  border-bottom: 1px solid whitesmoke;
  padding: 4px 0;
  display: flex;
}

.mail__articleTitle {
  padding: 8px 8px 8px 64px;
}

.mail__articleTitle > h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
}

.mail__articleSender {
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-bottom: 1px solid whitesmoke;
}

.mail__articleSender > h4 {
  margin-left: 12px;
}

.mail__articleMessage {
  padding: 16px 8px 16px 64px;
}
